extends ../index
block archeeve
    #archeeve
      section
        #first
          #mid-layer  
            #pitch
              h1 The most useful app to organize your bookmarks
            #buttons
              ul 
                li Get it for mac
                li Get it for windows
        #top-layer
          a(href='http://www.archeeve.com') 
            img(src='/assets/a/logo.png')
          a(href='http://onepagelove.com/archeeve') 
            img(src='/assets/a/one-page-love-award-right.png')
              
      section
        #second
      section
        #third
      section
        #fourth
      
