extends ../index
block archeeve
    #archeeve
      section
        #first
          #screen
            #logo
              a(href='http://www.archeeve.com') 
                img(src='/assets/a/logo.png')
            #opla
              a(href='http://onepagelove.com/archeeve') 
                img(src='/assets/a/one-page-love-award-right.png')  
            #pitch
              h1 The most useful app to organise your bookmarks
            #buttons
              ul 
                li: a(href='#fourth') Get it for mac
                li: a(href='#fourth') Get it for windows
      section
        #second
          #features
            h1 features
          ul
            li.icon: i.fa.fa-search.fa-lg
            li.icon: i.fa.fa-stack-overflow.fa-lg
            li.icon: i.fa.fa-star.fa-lg
            li.icon: i.fa.fa-th-large.fa-lg
          ul
            li.name search
            li.name organise
            li.name favorites
            li.name grid/list
          ul
            li.description
            li.description
            li.description
            li.description
              
          ul
            li.icon 
              img(src='/assets/a/logo.png')
            li.icon 
              img(src='/assets/a/logo.png')
            li.icon 
              img(src='/assets/a/logo.png')
            li.icon 
              img(src='/assets/a/logo.png')
          ul
            li.name search
            li.name organise
            li.name favorites
            li.name grid/list
          ul
            li.description
            li.description
            li.description
            li.description
          p.text *English, Polish, German, Spanish, Portuguese, Turkish, Dutch, French
          
          //- #first-row
          //-   .feature-icons
          //-   .feature-h2
          //-   #search
          //-   #organise
          //-   #favorites
          //-   #grid
          //- #second-row
          //-   #screenshots
          //-   #multilingual
          //-   #sync
          //-   #import-export
          //- #languages
      section
        #third
          #screenshots-h1
            h1 screenshots
            #sc1
            #sc2
            #sc3
            #sc4
            #sc5
            #sc6
            #sc7
            #sc8
            #sc9
      section
        #fourth
          #cta
            h1 get the app now for $4.99!
          #assurance
          #buttons
            #mac
            #win
          #copyright
      
