#archeeve{
  * {
    box-sizing: border-box;
  }
  section{
    width: 100%;
    padding: 0;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
  }
  h1 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 100;
    color: #ffffff
  }
  #first{
    background-image: url('/assets/a/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: #272a30;
    //color: #6d737f;
    height: 90vh;
    margin: 0px;
  }
  #mid-layer{
    background-color: rgba(0, 0, 0, 0.75);
    color: #6d737f;
    padding: 25px 0 0 0;
    height: 100%;
  }
  #mid-layer #pitch{
    margin: 33% 10% auto 10%;
  }
  #mid-layer #pitch h1{
    font-family: BonvenoCF;
    font-weight: 100;
    font-style: lighter;
    font-size: 2.2rem;
    color: #c4c5c6;
  }
  #buttons {
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #c4c5c6;
    font-weight: 100;
    font-style: lighter;
    text-transform: uppercase;
    text-align: center;
  }
  #logo, #centerbox, #award {
    display: inline-block;
    //height: 400px;
  }
  #top-layer ul li {
    display: inline;
  }
}
