#archeeve{
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  section{
    width: 100%;
    padding: 0;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
  }
  h1 {
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 100;
    color: #ffffff
  }
  #first{
    background-image: url('/assets/a/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0px;
  }
  #screen{
    background-color: rgba(39, 42, 48, .9);
    color: rgb(109, 115, 127);
    padding: 25px 0 0 0;
    height: 100%;
  }
  #screen #pitch{
    margin: 37% 10% auto 10%;
  }
  #screen #pitch h1{
    font-family: BonvenoCF;
    font-weight: 100;
    font-style: lighter;
    font-size: 2.2rem;
    color: #c4c5c6;
    line-height: 2.4rem;
  }
  #buttons {
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #c4c5c6;
    font-weight: 100;
    font-style: lighter;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 40px 0 20px;
  }
  #buttons ul li {
    margin: 15px 4px 15px 4px;
    padding: 10px 50px 10px 50px;
    border-radius: 4px;
    padding: 0;
  }
  #buttons ul li a{
    margin: 15px 1px 15px 1px;
    padding: 10px 50px 10px 50px;
    border: 4px solid #c4c5c6;
    border-radius: 4px;
    text-decoration: none;
    color: #c4c5c6;
  }
  #buttons ul li a:hover {
    color: rgba(212, 219, 171, 0.97);
    border-color: rgba(212, 219, 171, 0.97);
  }
  #logo {
    position: fixed;
    margin: 15px 0 0 40px;
  }
  #logo a img{
    max-width: 50%;
  }
  #opla {
    position: fixed;
    margin-left: 96vh;
  }
  #second {
    background-color: #272A30;
    height: 100vh;
    font-style: lighter;
  }
  #second ul {
    margin-left: 10%;
  }
  #feature{
    margin-top: 10%;
  }
  .icon {
    color: #c4c5c6;
    font-size: 30px;
    font-weight: 100;
    padding: 5%;
    margin: 4%;
    text-align: center;
  }

  #third {
    background-color: #272A30;
    height: 100vh;
  }
  #fourth {
    background-color: #272A30;
    height: 100vh;
  }
}
